.answers {
  float: inline-end;
  padding: 12px;
  margin: 1%;
  background-color: white;
  border: "11px solid black";
  border-radius: 10%;
}
.answers1 {
  padding: 12px;
  margin: 120px;
  background-color: white;
  border: "11px solid black";
  border-radius: 10%;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 50px;
}
.cont {
  padding: 12px;

  border: "11px solid black";
  border-radius: 10%;
  background-color: white;
}
.cont2 {
  padding: 12px;

  border: "11px solid black";
  border-radius: 10%;
  background-color: black;
  color: aliceblue;
}
